<div class="chat-header">
  <div class="left-header">
    <div class="group">
      <%= @room.name %>
    </div>
  </div>
  <div class="right-header">
    <div class="chat-end-btn">
    <%= link_to "日誌", room_diaries_path(params[:room_id]) %>
    <%= link_to "スケジュール", room_events_path(params[:room_id]) %>
    </div>
  </div>
</div>

<div class="messages">
  <%= render partial: 'message', collection: @notices %>
</div>

<%= form_with model: [@room, @notice], html: {class: "form"}, local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'メッセージを入力' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>