<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname, "#"%>
  </div>
  <div class="create-room">
    <%= link_to 'ログアウト', destroy_user_session_path %>
  </div>
</div>

<div class="rooms">
<span class="month-schedule">〜メンバー〜</span>
  <% @room.users.where.not(id: current_user.id).each do |user| %>
    <div class="room">
      <div class="room-name">
          <%= user.nickname %><%= " (#{user.age})" %><br>
          <%= user.organization.occupation.name %>
      </div>
    </div>
  <% end %>
</div>