<h3><%= @room.name %></h3>
<div class="chat_room">
    <%= form_with model: [@room, @notice] do |f| %>
      <%= f.text_field :content %>
      <%= f.submit '送信' %>
    <% end %>
  <div id="messages">
    <% @notices.reverse_each do |message| %>
      <div class="upper-message">
        <div class="message-user">
          <%= message.user.nickname %>
        </div>
        <div class="message-date">
          <%= l message.created_at %>
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
          <p><%= message.content %></p>
        </div>
      </div>
    <% end %>
    
  </div>
</div>