<%= form_with model: @organization, class: 'registration-main', local: true do |f| %>

  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        住所情報入力
      </h1>
    </div>

    <%= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">部活名</label>
    </div>
    <%= f.text_field :name, class:"input-default", id:"name" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">役割</label>
    </div>
    <%= f.collection_select(:occupation_id, Occupation.all, :id, :name, {}, {class:"input-default" }) %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">電話番号</label>
    </div>
    <%= f.text_field :phone_number, class:"input-default", id:"phone_number" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">郵便番号</label>
    </div>
    <%= f.text_field :postal_code, class:"input-default", id:"postal_code" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">都道府県</label>
    </div>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"input-default" }) %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">市区町村</label>
    </div>
    <%= f.text_field :municipality, class:"input-default", id:"postal_code" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">番地</label>
    </div>
    <%= f.text_field :address, class:"input-default", id:"postal_code" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
    </div>
  </div>

  <div class='register-btn'>
    <%= f.submit "会員登録" ,class:"register-red-btn" %>
  </div>
<% end %>