<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="header-name">
        <%= current_user.nickname %>
      </div>
      <div class="create-room">
        <%= link_to 'ログアウト', destroy_user_session_path %>
      </div>
    </div>

    <div class="schedule-rooms">
    <span class="month-schedule">〜今月のスケジュール〜</span>
      <% @events.where(start_time: Time.now.all_month).each do |event| %>
        <div class="schedule-room">
          <div class="schedule-room-name">
            <%= event.start_time.strftime("%m/%d %H:%M") %><br>
            <%= link_to event.title, room_event_path(params[:room_id], event.id) %>
          </div>
        </div>
      <% end %>  
    </div>

  </div>

  <div class="chat">
    <div class="chat-header">
      <div class="left-header">
        <div class="group">
          スケジュール
        </div>
      </div>
      <div class="right-header">
        <div class="chat-end-btn">
          <%= link_to "チャット", room_notices_path(params[:room_id]) %>
          <%= link_to "日誌", room_diaries_path(params[:room_id]) %>
        </div>
      </div>
    </div>
    

    <div class="schedule">
    
      <div class="event">
        <%= link_to 'スケジュールを登録', new_room_event_path(params[:room_id]), class: "schedule__btn" %>
        <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>
        <% events.each do |event| %>
      <div>
        <%= link_to event.title, room_event_path(params[:room_id], event.id) %>
        <% end %>
      <% end %>
    </div> 
  </div>
</div>


