<%= form_with model: [@room, @event], class: 'room-make', local: true do |f| %>

<div class='room-form-wrap'>
  <div class='room-form-header'>
    <h1 class='room-form-header-text'>
      スケジュール入力
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="room-form-group">
    <div class='room-form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="room-form-text">日程</label>
    </div>
    <div class="date-flex">
    <%= raw sprintf(
    f.datetime_select(
      :start_time,
      {
        start_year:     Time.zone.now.prev_year.year,
        end_year:       Time.zone.now.next_year.year,
        default:        Time.zone.now,
        use_two_digit_numbers: true,
        date_separator: '%s',
        datetime_separator: '%s',
        time_separator: '%s'
      },
      { class: 'date-input-default' }
    ),
    '年 ', '月 ', '日 ', '時 ') + '分'
  %>
  </div>
  </div>

  <div class="room-form-group">
    <div class='room-form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="room-form-text">内容</label>
    </div>
    <%= f.text_area :title, class:"input-default", id:"content" %>
  </div>

  <div class="room-form-group">
    <div class='room-form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="room-form-text">集合場所</label>
    </div>
    <%= f.text_field :place, class:"input-default", id:"place" %>
  </div>

  <div class="room-form-group">
    <div class='room-form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="room-form-text">詳細</label>
    </div>
    <%= f.text_field :content, class:"input-default", id:"content" %>
  </div>

  <div class='register-btn'>
    <%= f.submit "スケジュール登録" ,class:"register-red-btn" %>
  </div>  
</div>
<% end %>